@charset "UTF-8";/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */


 html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}

 .panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive-4by3{padding-bottom:75%}.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}.well-lg{padding:24px;border-radius:6px}.well-sm{padding:9px;border-radius:3px}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}.modal,.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translateY(-25%);transform:translateY(-25%)}.modal.in .modal-dialog{-webkit-transform:translate(0);transform:translate(0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin-top:10%;}



 .modal-content{position:relative;    background:black; margin-top:5%;
	 background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:fixed;z-index:1040;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}.modal-header{padding:15px;border-bottom:1px solid #00bea4;}



body,html{height:100%}.lh-12e{line-height:1.2em!important}.page-heading{font-size:20px!important;font-weight:500;line-height:1;letter-spacing:.02em}.lh-18{line-height:18px}.lh-20{line-height:20px}.add-shadow-on-hover:hover{box-shadow:0 0 10px rgba(33,33,33,.2);border-radius:2px}.lh-22{line-height:22px}.lh-24{line-height:24px}.hr-line{margin-top:0;border:none;color:rgba(0,0,0,.1);background-color:rgba(0,0,0,.1)}.lh-26{line-height:26px}.lh-28{line-height:28px}.ls-normal{letter-spacing:normal}.ls-1-imp{letter-spacing:1px!important}.full-width{width:100%}.w-1366{max-width:1366px;margin:auto}.w-30pc{width:30%}.breadcrumb>li+li:before{content:">"}.neg-mar{margin-left:-2px}.in-blk{display:inline-block}.flex-box{display:flex;align-items:center}.blk{display:block!important}.dis-in{display:inline}.valign-top{vertical-align:top}.valign-mid{vertical-align:middle}.valign-text-top{vertical-align:text-top}.valign-bottom{vertical-align:bottom}.valign-sub{vertical-align:sub}.btn .ml2{margin-left:2px}.fw-normal{font-weight:400}.fw-500{font-weight:500}.fw-400{font-weight:400}.fw-300{font-weight:300}.pos-rel{position:relative}.bg-white-imp{background-color:#fff!important}.btn-evibe{color:#fff;background-color:#ed3e72;border-color:#ed3e72}.btn-evibe,.btn-hollow-blue{text-transform:uppercase;font-weight:400;font-family:Roboto,sans-serif}.btn-hollow-blue{background-color:#fff}.btn-hollow-blue,.btn-hollow-blue:active,.btn-hollow-blue:focus,.btn-hollow-blue:hover,.btn-hollow-blue:link,.btn-hollow-blue:visited{color:#448aff;border-color:#448aff}





	.navbar-links .top-strip li a.no-click:hover{text-decoration:none}.splash-img{height:70px}.splash-title{font-size:25px}.min-ht-300{min-height:300px}.city-modal{text-align:center}.city-modal:before{display:inline-block;vertical-align:middle;content:" ";height:100%}.city-modal .modal-dialog{display:inline-block;text-align:left;vertical-align:middle}.city-select-title{color:#828282;padding:0;font-size:20px}.active-cities{margin-bottom:10px}.city-modal-image{width:80px;height:85px}.all-cities-wrap .city-modal-other-links{width:50%;overflow:hidden;text-overflow:ellipsis}.all-cities-wrap-desktop .city-modal-other-links{width:25%}.city-link{border-radius:10px;padding:5px;color:#fff;display:block;font-size:20px;margin-top:10px;text-transform:uppercase;cursor:pointer}.city-link:hover{color:#ed3e72;text-decoration:none}.city-link img{display:block;margin-left:auto;margin-right:auto;padding-bottom:5px}



	.city-link .city-name{text-align:center}.city-name{font-size:15px}.non-active-title{color:#777;font-style:italic;font-size:15px;padding-left:15px}.non-active-cities .city-link{color:#777;cursor:default;font-size:15px}.select-city{color:#fff}.select-city:focus,.select-city:hover{text-decoration:underline;color:#fff}.border-gs-input{border:1px solid #ed3e72}.border-gs-input-group-btn{border:1px solid #ed3e72;border-left:0}.navbar-mobile{font-size:18px!important;margin-top:15px!important;color:#fff}
	.a-no-decoration-black{text-decoration:none;    line-height: 2;color:#fff;}.a-no-decoration-black:focus,.a-no-decoration-black:hover{text-decoration:none;color:#5f5f5f}.a-no-decoration-dark-black,.a-no-decoration-dark-black:focus,.a-no-decoration-dark-black:hover{text-decoration:none;color:#333}.


@media only screen and (max-width: 600px) {
   .modal-content
  {
  margin-top:17%;
  }
}
