/*_________________________________________________*/
/*CUSTOM STYLESHEET*/
/*_________________________________________________*/

.navbar-brand img{
    width: 400px!important;
    margin-top: -14%;
   

}
.bg-light {
    background-color: white;
}
.masthead {
    height: 100vh;
    background-image: url('../images/bg-home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.masthead h1 {
    font-family:"Wigwag W01 Deluxe" !important;
    font-size:40px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #00bfa5;
    padding-bottom: 10px;
}
@font-face {
    font-family: "Wigwag W01 Deluxe";
    src: url("../fonts/c88723d6101cd465887e1855e49e6f4f.eot"); /* IE9*/
    src: url("../fonts/c88723d6101cd465887e1855e49e6f4f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/c88723d6101cd465887e1855e49e6f4f.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/c88723d6101cd465887e1855e49e6f4f.woff") format("woff"), /* chrome、firefox */
        url("../fonts/c88723d6101cd465887e1855e49e6f4f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/c88723d6101cd465887e1855e49e6f4f.svg#Wigwag W01 Deluxe") format("svg"); /* iOS 4.1- */
}
.masthead h4 {
    font-family: 'King Lionel - Personal Use';
    font-size: 36px;
    color: #00bfa5;
}
@font-face {
    font-family: 'King Lionel - Personal Use';
    src: url('../fonts/King Lionel - Personal Use.ttf');
}
.about {
    background-color: #ffffff;
    padding-top: 35px;
    color: #d40000;
    border-top: 5px solid;
    border-color: #00bfa5;
}

.event {
    padding: 30px 0 30px 0;
    background-color: #00bfa5;
}
.event a {
    text-decoration: none;
    color: black;
}
.card {
    border: none;
    margin: 0px 0;
}

.hello {
    color: red;
    padding: 5px 0;
    margin-left: -5%;
    font-size: 13px;
}
.hello .phone {
    font-size: 18px;
}
.hello h6 {
    margin-top: 5px;
}
.hello .email {
    font-size: 28px;
}
.hello .material-icons {
    font-size: 18px;
}

.container-fluid {
    background-color: #fff;
}

.bg-red {
    background-color: red!important;
    color: white !important;
}
.bg-white {
    background-color: white;
    color: #00bfa5;
}

.Decor {
    padding: 50px 0;
}

li {
    list-style: none;
}
.footer li a {
    text-decoration: none;
    color: #000;
}

.footer {
    background-color: #f8f9fa;
    color: black;
    border-top: 5px solid #00bfa5;
}
.footer-widget {
    padding: 24px;
    text-align: center;
}
.copy {
    background-color: red;
    padding: 4px 0;
}

.Decor button {
    background-image: url("../images/img-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f5170b;
    height: 151px;
    width: 100%;
    background-color: #00000000;
    border: none;
    outline:none;  
    font-family: accid_;
    font-size: 24px;
    margin: 5px;
}
.Decor button:active { 
    background-color: #00000000;
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 


}
.Decor button span {
    padding-right: 80px;
    padding-left: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

@font-face {
    font-family: accid_;
    src: url("../fonts/accid_.ttf"); 
}

.plr70 {
    padding: 0 40px;
    margin-top: 380px;
}
.chintu-red {
    color: #00bfa5;
}
.chintu-red:hover {
    color: #00bfa5;
}

/*_________________________________________________*/
/*Media Query*/
/*_________________________________________________*/

@media screen and (max-width:500px) {
    .Decor button {
        background-size: 100% auto;
        height: 129px;
        font-size: 17px;
    }

    .Decor button span {
        padding-right: 46px;
        padding-left: 20px;

    }
        .Decor {
    padding: 10px 0;
}
    #testimonial i {
   
    padding: 10px!important;
    
}

    .masthead {
        background-image: url('../images/bg-home1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .masthead h1{
        font-size: 24px;
    }
    .masthead h4{
        font-size: 30px;
    }
    .hello {
        font-size: 12px;
    }
    .plr70 {
    margin-top: 260px;
    }
    #menu {
    position: absolute;
    width: 350px;
    margin: 25px 0 0 0px;
    padding: 11px 0px 80px 10px!important;
    text-transform: uppercase;
    right: -50px;
    background: #f8f9fa;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
    padding: 4px 0;
    font-size: small;
}
}
@media screen and (max-width:800px) and (min-width:500px) {
    .plr70 {
    margin-top: 260px;
    }
    
}

.fb-post {
    padding-bottom: 20px;
    width: 100%;
}

/*------------------menu css------------------*/
body
{
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}
a:hover
{
    color: #00bfa5;
    text-decoration:none;
}

.navbar {
    padding: 0px 23px!important;
}
#menuToggle
{
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 1021; 
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: red;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
    position: absolute;
    width: 350px;
    margin: 18px 0 0 0px;
    padding: 0px 0px 42px 0px;
    right: -50px;
    background: #f8f9fa;
    list-style-type: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.nav-link:focus, .nav-link:hover {
    background-color: red;
    color: white;
}

#menu li
{
    padding: 4px 0;
}

/*
* And let's fade it in from the left
*/
#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}


#menusection {
    width: 100%;
    position: fixed;
    z-index: 1222
}

.single {
    height: 70vh;
}

.nav-link {
    color: black;
    font-family: Brigade W00 Medium Italic;
}

.copy a {
    text-decoration: none;
    color: white;
}

.social {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 50px;
}

/*Contact page css*/

#contact{
    background-color: #00bfa5;
    letter-spacing: 2px;
}
#contact a{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 575.98px) {


    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }
}


@media (min-width: 576px) {



    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {



    #contact .maps iframe{
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {


    #contact .maps iframe{
        width: 100%;
        height: 700px;
    }
}


#author a{
    color: #fff;
    text-decoration: none;

}

.card-text {
    font-family: Brigade W00 Medium Italic;
    font-size: 20px;
}
@font-face {
    font-family: Brigade W00 Medium Italic;
    src: url('../fonts/Brigade W00 Medium Italic.ttf');
    src: url("../fonts/3b64716f43bd5e1fe0ca617f8e4e9314.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/3b64716f43bd5e1fe0ca617f8e4e9314.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/3b64716f43bd5e1fe0ca617f8e4e9314.woff") format("woff"), /* chrome、firefox */
        url("../fonts/3b64716f43bd5e1fe0ca617f8e4e9314.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/3b64716f43bd5e1fe0ca617f8e4e9314.svg#Brigade W00 Medium Italic") format("svg"); /* iOS 4.1- */
}
.chintu-red {
    color: #00bfa5;
}

/*testimonial*/
#testimonial {
    background: linear-gradient(112deg, #ffffff 50%, #ca000017 50%);
    max-width: 100%;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgb(203, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

#testimonial i {
    background-color: rgb(202, 0, 0);
    padding: 1.4rem;
    border-radius: 50%;
}
#testimonial p {
    font-family: Brigade W00 Medium Italic;
    font-size: medium;
}


.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}
.carousel-item {
    height:76vh;
}
.float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 12px;
    right: 13px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    z-index: 100;
    opacity: 1.7;
}
.my-float {
    margin-top: 8px;
}

@media (min-width: 460px) {



    .footer-first{
        width:50%;
    }
}
@media (min-width: 460px) {



    .footer-last{
            margin-left: 50%;
    margin-top: -40%;
    }
}

@media (min-width: 568px) {



    .footer-first{
        margin-right:50%;
    }
}




@media (min-width: 568px) and (max-width: 600px) {



    .footer-last{
        margin-left: 50%;
    margin-top: -37%;
    }
}
@media (min-width: 992px) and (max-width: 1319px) {
    
    .footer-first{    
  margin-left: 5%;
    width: 100%;
} 
}
    

@media (min-width: 1319px) and (max-width: 1600px) {
    
    .footer-first{    
  margin-left: 5%;
    width: 100%;
} 
}
   
   @media (min-width: 732px) and (max-width: 978px) {
    
    .footer-first{    
  margin-left: 5%;
    width: 100%;
} 
}

@media (min-width: 1319px) and (max-width: 1600px) {
    
    .footer-last{    
  margin-left: 0%;
    margin-top: 1%;
} 
}
   @media (min-width: 360px) and (max-width: 400px) {
    
    .navbar-brand img{    
 width: 300px!important;
} 
}
   @media (max-width: 360px) {
    
    .footer-first{    
  
    width: 54%;    margin-left: -5%;
} 
}


   @media (max-width: 360px) {
    
    .footer-last{    
  
        width: 50%;
    float: right;
    margin-top: -53%;    margin-right: 2%;
} 
}
 @media (max-width: 360px) {
    
    .section-6-social a{    
  
       width: 30px;
    height: 35px;
} 
}


 @media  (max-width: 360px) {
    
    .part1{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part2{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
 @media (max-width: 360px) {
    
    .part3{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part4{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
 @media (max-width: 360px) {
    
    .part5{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part6{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
 @media (max-width: 360px) {
    
    .part7{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part8{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
 @media (max-width: 360px) {
    
    .part9{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part10{    
  
           width: 50%;
    float: right;
    margin-top: -52%;
    
} 
}
 @media (max-width: 360px) {
    
    .part11{    
  
       width: 50%;
    
} 
}
 @media (max-width: 360px) {
    
    .part12{    
  
           width: 50%;
    float: right;
    margin-top: -50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part1{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part2{    
  
           width: 50%;
    float: right;
    margin-top: -30%;
    
} 
}
 @media (min-width: 460px) {
    
    .part3{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part4{    
  
           width: 50%;
    float: right;
    margin-top: -30%;
    
} 
}
 @media (min-width: 460px) {
    
    .part5{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part6{    
  
           width: 50%;
    float: right;
    margin-top: -21%;
    
} 
}
 @media (min-width: 460px) {
    
    .part7{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part8{    
  
           width: 50%;
    float: right;
    margin-top: -30%;
    
} 
}
@media (min-width: 460px) {
    
    .part9{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part10{    
  
           width: 50%;
    float: right;
    margin-top: -30%;
    
} 
}
@media (min-width: 460px) {
    
    .part11{    
  
       width: 50%;
    
} 
}
 @media (min-width: 460px) {
    
    .part12{    
  
           width: 50%;
    float: right;
    margin-top: -30%;
    
} 
}
@media (min-width: 1400px){
    
    .part1 {
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part2{
    width: 100%;margin-top:0px;
} 
}
@media (min-width: 1400px){
    
    .part3 {
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part4{
    width: 100%;margin-top:0px;
} 
}
@media (min-width: 1400px){
    
    .part5 {
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part6{
    width: 100%;margin-top:0px;
} 
}
@media (min-width: 1400px){
    
    .part7 {
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part8{
    width: 100%;margin-top:0px;
} 
}
@media (min-width: 1400px){
    
    .part9 {
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part10{
    width: 100%;margin-top:0px;
} 
}
@media (min-width: 1400px){
    
    .part11{
    width: 100%;
} 
}@media (min-width: 1400px){
    
    .part12{
    width: 100%;margin-top:0px;
} 
}
@media  (max-width: 375px) {
    
    .part1{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part2{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
@media (max-width: 375px) {
    
    .part3{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part4{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
 @media (max-width: 375px) {
    
    .part5{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part6{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
 @media (max-width: 375px) {
    
    .part7{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part8{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
 @media (max-width: 375px) {
    
    .part9{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part10{    
  
           width: 50%;
    float: right;
    margin-top: -52%;
    
} 
}
 @media (max-width: 375px) {
    
    .part11{    
  
       width: 50%;
    
} 
}
 @media (max-width: 375px) {
    
    .part12{    
  
           width: 50%;
    float: right;
    margin-top: -50%;
    
} 
}
@media (max-width: 375px) {
    
    .footer-first{    
  
           width: 60%;
        margin-left: -7%;
    
} 
}
@media (max-width: 375px) {
    
    .footer-last{    
  
           float: right;
    width: 51%;
    margin-top: -53%
    
    
} 
}
@media (max-width: 2000px){
    
    .part1 {
    width: 100%;
} 
}
@media (max-width: 2000px){
    
    .part2{
    width: 100%;margin-top:0px;
} 
}
@media (max-width: 2000px){
    
    .part3 {
    width: 100%;
} 
}@media (max-width: 2000px){
    
    .part4{
    width: 100%;margin-top:0px;
} 
}
@media (max-width: 2000px){
    
    .part5 {
    width: 100%;
} 
}@media (max-width: 2000px){
    
    .part6{
    width: 100%;margin-top:0px;
} 
}
@media (max-width: 2000px){
    
    .part7 {
    width: 100%;
} }
@media (max-width: 2000px){
    
    .part8{
    width: 100%;margin-top:0px;
} }
@media (max-width: 2000px){
    
    .part9 {
    width: 100%;
} 
}@media (max-width: 2000px){
    
    .part10{
    width: 100%;margin-top:0px;
} 
}
@media (max-width: 2000px){
    
    .part11{
    width: 100%;
} 
}@media (max-width: 2000px){
    
    .part12{
    width: 100%;margin-top:0px;
} 
}
@media  (max-width: 425px) {
    
    .part1{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px) {
    
    .part2{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
@media  (max-width: 425px) {
    
    .part3{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px) {
    
    .part4{    
  
           width: 50%;
    float: right;
    margin-top: -51%;
    
} 
}
@media  (max-width: 425px){
    
    .part5{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px) {
    
    .part6{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
@media  (max-width: 425px) {
    
    .part7{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px) {
    
    .part8{    
  
           width: 50%;
    float: right;
    margin-top: -46%;
    
} 
}
@media  (max-width: 425px) {
    
    .part9{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px) {
    
    .part10{    
  
           width: 50%;
    float: right;
    margin-top: -52%;
    
} 
}
@media  (max-width: 425px) {
    
    .part11{    
  
       width: 50%;
    
} 
}
@media  (max-width: 425px){
    
    .part12{    
  
           width: 50%;
    float: right;
    margin-top: -50%;
    
} 
}
@media  (max-width: 425px){
    
    .footer-first{    
  
           width: 60%;
        margin-left: -7%;
    
} 
}
@media  (max-width: 425px) {
    
    .footer-last{    
  
    float: right;
    width: 51%;
    margin-top: -52%
    
    
} 
}
.testimonial{
    padding-top: 70px;
    margin: 50px 15px 0;
    border: 1px solid #fff;
    text-align: center;
    position: relative;
    transition: all 0.7s ease 0s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.testimonial:hover{ border-color: red; }
.testimonial .pic{
    width: 95px;
    height: 95px;
    border-radius: 50%;
  background: #fff;  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 7px;
    position:absolute;
    top: -50px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    transition: all 0.7s ease 0s;
}
.testimonial:hover .pic{ background: red; }
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .title{
    font-size: 16px;
    font-weight: 700;
    color: red;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.testimonial .description{
    font-size: 15px;
    color: #999;
    line-height: 25px;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 25px 35px;
    margin: 0;
}
.testimonial .testimonial-content{
    padding: 15px 25px 12px;
    border: 1px solid #f7f7f7;
    border-top: none;
    position: relative;
    text-align: left;
    transition: all 500ms ease 0s;
}
.testimonial:hover .testimonial-content{ border-color: #1d3033; }
.testimonial .testimonial-content:after{
    content: "";
    width: 100%;
    height: 0;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.7s ease 0s;
}
.testimonial:hover .testimonial-content:after{ height: 100%; }
.testimonial-content .testimonial-profile{ display: inline-block; }
.testimonial .name{
    font-size: 16px;
    font-weight: 700;
    color: red;
    text-transform: uppercase;
    margin: 0 0 3px;
    transition: all 700ms ease 0s;
}
.testimonial:hover .name{ color: #fff; }
.testimonial .post{
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
}
.testimonial .rating{
    display: inline-block;
    padding: 1px 5px;
    margin: 0;
    list-style: none;
    background: red;
    position: absolute;
    right: 25px;
}
.testimonial .rating li{
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.owl-theme .owl-controls{
    width: 100%;
    position: absolute;
    top: 50%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 45px;
    height: 40px;
    line-height: 37px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ececec;
    padding: 0;
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    background: #eabd44;
    border-color: #eabd44;
}
.owl-prev,
.owl-next{
    position: absolute;
    left: -3%;
}
.owl-next{
    left: auto;
    right: -3%;
}
.owl-prev:before,
.owl-next:before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    color: #ececec;
}
.owl-next:before{ content: "\f105"; }
@media only screen and (max-width: 990px){
    .owl-theme .owl-controls,
    .owl-prev,
    .owl-next{
        position: relative;
        left: 0;
        right: 0;
    }
}
@media only screen and (max-width: 768px){
    .testimonial .testimonial-content{
        padding: 15px 10px 12px;
    }
    .testimonial .rating{
        right: 12px;
    }
}
.product-price {
    color: #666;
    font-size: 18px;
}
.product-price .red {
    color: red;
}
.product-price .old {
    color: #aaaaaa;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 6px;
}