

.modal,.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;-webkit-overflow-scrolling:touch;outline:0}.modal.fade 
.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background: rgba(0, 0, 0, 0.9);background-clip:padding-box;height: 150px; border:3px solid #00bea4;border-radius:6px;outline:0;box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.text-center{text-align:center}.text-center-imp{text-align:center!important}







.city-modal{text-align:center}.city-modal:before{display:inline-block;vertical-align:middle;content:" ";height:100%}.city-modal .modal-dialog{display:inline-block;text-align:left;vertical-align:middle}.city-select-title{color:#828282;padding:0;font-size:20px}.active-cities{margin-bottom:10px}.city-modal-image{width:80px;height:85px}.all-cities-wrap .city-modal-other-links{width:50%;overflow:hidden;text-overflow:ellipsis}.all-cities-wrap-desktop .city-modal-other-links{width:25%}.city-link{border-radius:10px;padding:5px;color:#fff;display:block;font-size:20px;margin-top:10px;text-transform:uppercase;cursor:pointer}.city-link:hover{color:#ed3e72;text-decoration:none}.city-link img{display:block;margin-left:auto;margin-right:auto;padding-bottom:5px}.city-link .city-name{text-align:center}.city-name{font-size:15px}.non-active-title{color:#777;font-style:italic;font-size:15px;padding-left:15px}.non-active-cities .city-link{color:#777;cursor:default;font-size:15px}.select-city{color:#fff}.select-city:focus,.select-city:hover{text-decoration:underline;color:#fff}.border-gs-input{border:1px solid #ed3e72}.border-gs-input-group-btn{border:1px solid #ed3e72;border-left:0}.



 
#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.6;
}


#preloader {
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#FFF; /* change if the mask should have another color then white */
			z-index:99999; /* makes sure it stays on top */
		}
		#status {
			width:100px;
			height:100px;
			position:absolute;
			left:50%; /* centers the loading animation horizontally one the screen */
			top:50%; /* centers the loading animation vertically one the screen */
			background-image:url(preloader.gif);
			z-index:9999; /* path to your loading animation */
			background-repeat:no-repeat;
			background-position:center;
			background-size: cover;
			margin:-10px 0 0 -36px; /* is width and height divided by two */
		}

@media only screen and (max-width: 600px) {
  .modal-content
  {
    margin-top:35%;
  }
}