
/* Lists */
ul {
  margin: 0;
  padding: 0;
}




/* Menu Button */
.menu-btn {
  width: 100px;
  padding: 10px;
  margin-bottom: 0px;
  background: transparent;
    color: red;
  text-align: center;
  cursor: pointer;
  border: 0px;   margin-left: 33%;
    font-size: 28px;
}

.menu-btn:hover {
  
}



