

/***** Wrapper *****/


/***** Section 1 *****/

.section-1-box { padding-top: 30px; text-align: left; }

.section-1-box .section-1-box-icon {
	width: 80px; height: 80px; margin: 0 auto;
	border: 1px solid #f35b3f;
    font-size: 40px; color: #f35b3f; line-height: 78px; text-align: center;
    border-radius: 50%;
}

.section-1-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Section 2 *****/

.section-2-box { margin-top: 8%; text-align: left; padding:20px;}
.section-2-box h3 { 
    margin-top: 0; padding: 15px;
    font-weight: 800;
    text-transform: uppercase;    margin-bottom: 3%;
    font-size: 25pt;
    color: red;}
 p  { margin-top: 20px; margin-bottom: 20px; text-align:justify;font-size:13pt;line-height: 1.7;}
.section-2-box img { border-radius: 6px; border:2px solid red;}



/***** Section 3 *****/

.section-3-box { margin-top: 30px; text-align: left; }

.section-3-box .section-3-box-icon {
	width: 60px; height: 60px; margin: 0 auto;
	background: #f35b3f;
    font-size: 28px; color: #fff; line-height: 60px; text-align: center;
    border-radius: 50%;
}

.section-3-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Section 5 *****/


.section-5-box { padding-top: 30px; text-align: left; }

.section-5-box-image { overflow: hidden; border-radius: 6px; }
.section-5-box-image img { transition: all .8s; }
.section-5-box-image:hover img { transform: scale(1.25); }

}

.section-6-box { padding-top: 30px; text-align: left; }

.section-6-box h3 { margin-top: 0; }

/* contact form */
.section-6-form { padding-top: 20px; text-align: left; }

.section-6-form input[type="text"],
.section-6-form textarea {
    background: none; border: 1px solid #fff; 
    font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; color: #fff; 
    box-shadow: none;
    transition: all .3s;
}

.section-6-form textarea { height: 90px; }

.section-6-form input[type="text"]:focus,
.section-6-form textarea:focus { outline: 0; background: #fff; border: 1px solid #fff; color: #888; box-shadow: none; }

.section-6-form input[type="text"].input-error, 
.section-6-form textarea.input-error { border-color: #f35b3f; }

.section-6-form input[type="text"]::-moz-placeholder,
.section-6-form textarea::-moz-placeholder { color: #ccc; font-style: italic; }

.section-6-form input[type="text"]:-ms-input-placeholder,
.section-6-form textarea:-ms-input-placeholder { color: #ccc; font-style: italic; }

.section-6-form input[type="text"]::-webkit-input-placeholder,
.section-6-form textarea::-webkit-input-placeholder { color: #ccc; font-style: italic; }

.section-6-form button.btn-customized {
	padding: .75rem 1.5rem; 
	background: #f35b3f; border: 0; border-radius: 4px; 
	font-family: 'Roboto', sans-serif;
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

.section-6-form button.btn-customized:hover, 
.section-6-form button.btn-customized:active, 
.section-6-form button.btn-customized:focus, 
.section-6-form button.btn-customized:active:focus, 
.section-6-form button.btn-customized.active:focus,
.section-6-form button.btn.btn-primary:not(:disabled):not(.disabled):active,
.section-6-form button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #cd533d; background: rgba(243, 91, 63, 0.7); border: 0; color: #fff; box-shadow: none;
}

.section-6-form button.btn-customized i { margin-right: 5px; }
/* end contact form */

.section-6-social { padding-top: 20px; }

.section-6-social a {
	display: inline-block; width: 46px; height: 46px; margin: 0 10px 10px 0; 
	background: red; border: 0; border-radius: 50%; color: #fff; text-align: center; line-height: 46px;
}
.section-6-social a:hover, 
.section-6-social a:focus { background: #ccc; background: rgba(255, 255, 255, 0.5); border: 0; color: #555; }


/***** Footer *****/

/* ACCORDION BOX */
.accordion-box {
    width: 100%;
    display: block;
    margin: 0;padding-bottom:35px;
}
.accordion-box h6 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 3px;
}
.accordion-box h6:after {
    content: "";
    width: 100%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

.accordion {
    width: 100%;
    float: left;
    padding: 0;
}
.accordion .card {
    background: none;
    border-radius: 0;
    border: none;
}
.accordion .card .card-header {
    background: none;
    padding: 5px;
    margin-bottom: 15px;
}
.accordion .card .card-header a {
    width: 100%;
    float: left;
    padding: 20px 25px;
    color: black;
    font-family: "Oxygen";
    font-size: 12pt;
    border: 2px solid red;
}
.accordion .card .card-header a:hover {
    color: red;
    text-decoration: none;
}
.accordion .card .card-body {
    width: 100%;
    border: none;
    line-height: 26px;
    color: #fff;
    padding-top: 0;font-style: italic;
}
.accordion .card [aria-expanded="true"] {
    color: #fff !important;
    background: red;
    border-color: transparent !important;
    border-radius: 15px;
}
.accordion .card .card-header a {
    padding: 6px 25px;
   
    font-style: italic;
    
    
.activitiesforbirthdy { color:red;}